/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #57585a;
    font-family: 'Nunito', sans-serif;
}


/* Header */
header {
    background-color: #dedfe4;
    padding: 0 0.5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 4px 4px #a7acad;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    color: #444852;
}

#logo {
    font-size: 145%;
    line-height: 3.5rem;
    margin: 0 0.5rem;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 2px;
    color: #101825;
}

#menu > li {
    margin-bottom: 1em;
    margin-top: 1em;
}

.active {
    border-bottom: 1px solid #101825;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #dedfe4;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #676869;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.8rem;
}


/* Main content */
main {
    background-color: beige;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 56px;
}

/* Footer */
footer {
    background-color: #a2a3a5;
}

#social-media {
    text-align: center;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 180%;
    padding: 20%;
    color: #040911;
}

/* Media query: tablets and larger (768px and up) */
@media screen and  (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* logo */
    #logo {
        font-size: 190%;
        line-height: 4rem;
        margin: 0 1rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 70px;
    }

    /* Media query: large device (lapotops and desktops, 992px and up) */
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid #101825;
        }
        
    }


}